/* Why does every file type have its own comments */

/* selectors + property + values div -> divisions just an empty container */

/* universal selector + type selectors ie everything that is a div or p + class selector = a variable I get to define can add multuple classes to a variable  */

/* ID selector each element can only have one ID #idname instead of .classname ID should be used sparingly*/



*{
    color: purple;
}

/* method for not rewriting elements multiple times for certain classess */

.read,
.unread {
  color: white;
  background-color: black;
}

.read {
  /* several unique declarations */
}

.unread {
  /* several unique declarations */
}

Being able to chain multiple class names together 
.subsection.header {
    color: red;
  }